@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
/* Create custom properties
It requires scope */
*{
    box-sizing:border-box;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    margin:0;
    font-family: 'Muli', sans-serif;
    background-color:white;
    overflow:hidden;
}
.container{
    text-align:center;
}
/* styles for steps */
.progress-container{
    display:flex;
    justify-content:space-between;
    position:relative;
    margin-bottom:20px;
    max-width:100%;
    width:350px;
}
/* gray color line */
.progress-container::before{
    content:'';
    background-color:gray;
    position:absolute;
    top:50%;
    left:0;
    height:4px;
    width:0%;
    transform:translateY(-50%);
    z-index:-1;
}


/* blue color line */
.progress{
    background-color:blue;
    position:absolute;
    /* line position is exactly middle */
    top:50%;
    left:0;
    height:4px;
    width:0%;
    transform:translateY(-50%);
    z-index:-1;
    transition: 0.4s ease;
}

.circles{
    background-color:white;
    color:gray;
    border-radius:50%;
    height:30px;
    width:30px;
    display:flex;
    align-items:center;
    justify-content: center;
    border:2px solid gray;
    transition:0.4sec ease;
}
.circles:active{
    background-color:blue;

}
.btn{
    background-color:blue;
    padding:5px 30px;
    margin:5px;
    border-radius:6px;
    color:white;
    border:0;
    font-size:14px;
    cursor:pointer;
    font-family:inherit;
}
.btn:active{
    transform:scale(0.98);
}
.btn:focus{
    outline:0;
}
.btn:disabled{
    background-color: gray;
}